h2{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;font-size: 110px;color: green;}
.mycustomh2{border: 50px solid rgb(212, 124, 124);
    background-color: rgb(151, 232, 151);
    text-align: center}
.info{font-size: larger;color: aqua;}