h2{font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: large;
color: rgb(245, 233, 66);
text-decoration: underline;
text-decoration-color: black;}
.info{font-size: larger;color: aqua;}
.title{border:5px outset #5fc2f8;
    background-color: rgb(7, 2, 3);
    text-align: center;
    text-emphasis: bold;
    font-size: 40px;
    color: rgb(245, 233, 66);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    text-decoration: underline;
    text-decoration-color: white;}
.smtext{text-decoration: underline; 
        font-size: small;}
.foot{text-align: center;
        text-decoration-style: double;
        color: #5fc2f8;}
.flex-container {
            display: flex; /* Enables Flexbox */
            justify-content: space-around; /* Distributes space around items */
            align-items: center; /* Centers items vertically */
            padding: 10px; /* Adds some padding around the flex container */
            background: lightgray; /* Background color for the flex container */
          }
        
.flex-item {
                background-color: #f2f2f2; /* Light grey background for flex items */
                border: 1px solid #ddd; /* Light grey border for flex items */
                padding: 20px; /* Adds some padding inside the flex items */
                margin: 10px; /* Adds some margin around the flex items */
                font-size: 20px;
                text-align: center;
                flex-grow: 1; /* Allows flex items to grow to fill available space */}