h2{font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: medium;
color: rgb(38, 166, 68);}
.info{font-size: larger;color: aqua;}
.title{border:5px outset red;background-color: rgb(137, 31, 52);text-align: center;text-emphasis: bold;}